*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, 
    Geneva, Verdana, sans-serif;
    outline: none;
}
.container{
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c8d6cd;
}
.calculator{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4,70px);
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px lightblue,
                      5px 5px 12px black;
                      border-radius: 10px;
                      padding: 40px;
}
input{
    grid-column: span 4;
    height: 70px;
    width: 280px;
    border-radius: 30px;
    border: none;
    text-align: end;
    padding: 10px;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    box-shadow: inset 5px 5px 12px lightblue,
                      5px 5px 12px black;
}
button{
    height: 48px;
    width: 48px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: inset 5px 5px 12px lightblue,
                      5px 5px 12px black;
    cursor: pointer;
    font-size: 20px;

}
.equal{
  
    width: 120px;
     font-size: 30px;
}
#inv{
   color: black;
}
h1{
    position: absolute;
    top: 22px;
}
